<p class = "projet-heding-inbetween projet-heding-inbetween-left">Project quantum</p>
  <div class="example-card deal-parameter-container">
  <div class = "deal-info-header">
    <h3 class = "mian-title">Deal parameters</h3>
  </div>
  <div class = "row selectbox-wrapper">
    <div class = "col-sm-12 col-md-4 select-box-control">
      <label>Testing method</label>
      <select class="form-control ">
        <option>Water fall</option>
        <option>Spiral</option>
        <option>ABC</option>
        <option>DEF</option>
      </select>

    </div>

    <div class = "col-sm-12 col-md-4 select-box-control">
      <label>Technology </label>
      <select class="form-control ">
        <option>Select</option>
        <option>Java</option>
        <option>c#</option>
        <option>Dot Net</option>
      </select>
    </div>
  </div>

 <div class = "deal-infosub-header">Select Scope</div>
  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Functionality</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Perfomance</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Load</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Relaibility Stress</mat-checkbox>
    </li>
  </ul>
  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Conformance</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Interoperability</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Internationalization</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Regression</mat-checkbox>
    </li>
  </ul>

  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>End to end testing</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Action based</mat-checkbox>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <mat-checkbox>Other (Generalized category)</mat-checkbox>
    </li>

  </ul>


  <div class = "button-wrapper">
    <button mat-raised-button class = "cancel-buttton" >Back</button>
    <button mat-raised-button class = "save-buttton" routerLink="/estmationflow/testingrequirments">Save & Next</button>
  </div>
</div>
