<p class = "projet-heding-inbetween projet-heding-inbetween-left">Project quantum</p>

<div class="example-card testing-requirement-container">
  <mat-accordion class = "accordian-spacing">
    <mat-expansion-panel class=" expansion-panel-table" [expanded] = "step ===  0" >
      <mat-expansion-panel-header>
        <mat-panel-title class = "mian-title">
         Testing Requirements
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table table-bordered table-container">
        <thead>

        <tr class = "table-title">
          <th class = "table-title-first">Release Name</th>
          <th class = "table-title-first">Testing Type</th>
          <th class = "table-title-first" colspan="3">Number of complex functionalities</th>
          <th class = "table-title-first">Automation percentage</th>
        </tr>
        <tr class = "border-none">
          <th class = "border-none" ></th>
          <th class = "border-none" ></th>
          <th class = "table-sub-heading low">Low</th>
          <th class = "table-sub-heading medium">Medium</th>
          <th class = "table-sub-heading">Heigh</th>
          <th class = "border-none" ></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>

        </tr>
        <tr class="total-row">
          <th>Total</th>
          <th></th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class = "accordian-spacing">
    <mat-expansion-panel [expanded] = "step ===  0" >
      <mat-expansion-panel-header>
        <mat-panel-title  class = "mian-title">
          Sizing Release Test Points
          <span class = "icon-info" data-toggle="modal" data-target="#myModal5" ></span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table table-bordered table-container">
        <thead>

        <tr class = "table-title">
          <th class = "table-title-first">Release Name</th>
          <th class = "table-title-first">Testing Type</th>
          <th class = "table-title-first" colspan="3">Number of complex functionalities</th>
          <th class = "table-title-first">Automation percentage</th>
        </tr>
        <tr class = "border-none">
          <th class = "border-none" ></th>
          <th class = "border-none" ></th>
          <th class = "table-sub-heading low">Low</th>
          <th class = "table-sub-heading medium">Medium</th>
          <th class = "table-sub-heading">Heigh</th>
          <th class = "border-none" ></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>

        </tr>
        <tr class="total-row">
          <th>Total</th>
          <th></th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class = "accordian-spacing">
    <mat-expansion-panel [expanded] = "step ===  0" >
      <mat-expansion-panel-header>
        <mat-panel-title  class = "mian-title">
          Test Case Estimates
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table table-bordered table-container">
        <thead>

        <tr class = "table-title">
          <th class = "table-title-first">Release Name</th>
          <th class = "table-title-first">Testing Type</th>
          <th class = "table-title-first" >Number of complex functionalities</th>
          <th class = "table-title-first">Automation percentage</th>
          <th class = "table-title-first">Automation percentage</th>
        </tr>

        </thead>
        <tbody>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>

        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>

        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>

        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>


        </tr>
        <tr class="total-row" >
          <th>Total</th>
          <th></th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
        </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class = "accordian-spacing">
    <mat-expansion-panel [expanded] = "step ===  0"  >
      <mat-expansion-panel-header>
        <mat-panel-title  class = "mian-title">
         Effort Estimation
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table table-bordered table-container">
        <thead>

        <tr class = "table-title">
          <th class = "table-title-first">Release Name</th>
          <th class = "table-title-first">Testing Type</th>
          <th class = "table-title-first" colspan="5">Number of complex functionalities</th>
          <th class = "table-title-first">Automation percentage</th>
        </tr>
        <tr class = "border-none">
          <th class = "border-none" ></th>
          <th class = "border-none" ></th>
          <th class = "table-sub-heading low">Low</th>
          <th class = "table-sub-heading medium">Medium</th>
          <th class = "table-sub-heading">Heigh</th>
          <th class = "table-sub-heading medium">Medium</th>
          <th class = "table-sub-heading">Heigh</th>
          <th class = "border-none" ></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        <tr>
          <th>test version 1.0</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th>80%</th>

        </tr>
        <tr class = "total-row">
          <th >Total</th>
          <th>Registration</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "complex-cell">01</th>
          <th class = "persentage-leftalign">80%</th>
        </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<div class = "button-wrapper">
  <button mat-raised-button class = "resetsave">SAVE AS DRAFT AND DOWNLOAD</button>
  <button mat-raised-button class = "save-buttton resetsave">SAVE AS DRAFT</button>
  <button mat-raised-button class = "save-buttton" >SAVE AND SEND FOR REVIEW </button>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal5">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-scroll">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Defenition of complexity of text functionality</h4>
        <button type="button" class="close icon-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
         <ul>
           <li>Bussiness Requirments Walkthrough</li>
           <li>Test Review </li>
           <li>Changin Requirements</li>
           <li>Related changes accordign to change</li>
           <li>Bussiness Requirments Walkthrough</li>
           <li>Test Review </li>
           <li>Changin Requirements</li>
           <li>Related changes accordign to change</li>
           <li>Bussiness Requirments Walkthrough</li>
           <li>Test Review </li>
         </ul>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary save-buttton-popup" data-dismiss="modal">Ok</button>
      </div>

    </div>
  </div>
</div>