
<div class="example-card deal-infotesting-container">
  <div class = "deal-info-header">
    <h3 class = "mian-title">OPP0017802</h3>
  </div>
  <div class = "deal-information-details submenu">
    <h3 >Deal information</h3>
  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Delivery unit</p>
      <h4>Manufacturing</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Vertical</p>
      <h4>SEM computing storage & PEF</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Account</p>
      <h4>NCR Corporation</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Opportunity Name</p>
      <h4>Project Quantum</h4>
    </li>
  </ul>

  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Total Contract Value</p>
      <h4>AUD 70000</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Opportunity owner</p>
      <h4>Jayashankar</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Competitors</p>
      <h4>NA</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Partners/Vendors</p>
      <h4>NA</h4>
    </li>
  </ul>
  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Proposal submission date</p>
      <h4>7-Jul-2018</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Stage probability</p>
      <h4>NA</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Estimation Lifecycle phase</p>
      <h4>RPF</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Deal Tenure</p>
      <h4>NA</h4>
    </li>
  </ul>

  </div>
  <mat-accordion>
    <mat-expansion-panel  [expanded] = "step ===  0" >
      <mat-expansion-panel-header>
        <mat-panel-title>
         Testing
        </mat-panel-title>
        <p class  ="collapse-all">
          <!--<span *ngIf="!viewMode" (click) = "collapseAll()" ></span>-->
          <span>Collapse All</span>
        </p>
      </mat-expansion-panel-header>
     <div class = "testin-progress-container">

         <!--Testing Progress-->

       <ul class ="row testgin-progress-steps">
         <li class="col-sm-12 col-md-1 li-wrapper width-set">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image active active-tick">
                 <span class = "icon-check_mark"></span>
               </div></li>
              <li class="testing-proress-step-title">Onboarded</li>
               <li class="testing-proress-step-value">09-Jul-2018</li>
           </ul>
         </li>
         <li class="col-sm-12 col-md-1 li-wrapper width-set">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image active">
                 <span>2</span>
               </div></li>
             <li class="testing-proress-step-title">Assigned</li>
             <li class="testing-proress-step-value">12-Jul-2018</li>
           </ul>
         </li>
         <li class="col-sm-12 col-md-2 li-wrapper width-set">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image active">
                 <span>3</span>
               </div></li>
             <li class="testing-proress-step-title">Estimation Generated</li>
             <li class="testing-proress-step-value">12/0215</li>
           </ul>
         </li>
         <li class="col-sm-12 col-md-2 li-wrapper width-set">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image active">
                 <span>4</span>
               </div></li>
             <li class="testing-proress-step-title">Solution Architect review</li>
             <li class="testing-proress-step-value">12/0215</li>
           </ul>
         </li>
         <li class="col-sm-12 col-md-2 li-wrapper width-set ">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image not-active disabled">
                 <span>5</span>
               </div></li>
             <li class="testing-proress-step-title disabled">Delivery Assuarance review</li>
             <li class="testing-proress-step-value">12/0215</li>
           </ul>
         </li>
         <li class="col-sm-12 col-md-2 li-wrapper width-set">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image not-active">
                 <span>6</span>
               </div></li>
             <li class="testing-proress-step-title">Manager Approval</li>
             <li class="testing-proress-step-value">12/0215</li>
           </ul>
         </li>
         <li class="col-sm-12 col-md-2 li-wrapper width-set">
           <ul>
             <li class = "add-dot">
               <div class = "example-header-image not-active">
                 <span>7</span>
               </div></li>
             <li class="testing-proress-step-title">Deal pricing system</li>
             <li class="testing-proress-step-value">12/0215</li>
           </ul>
         </li>
       </ul>

       <!--Testing Progress Details-->
       <ul class ="row testgin-progress-details">
         <li class="col-sm-12 col-md-3 li-wrapper select-box-control">
           <select class="form-control ">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
           </select>
           <a href="#">View</a>
           <h5>Manufacturing</h5>
         </li>
         <li class="col-sm-12 col-md-3 li-wrapper">
           <p>Review</p>
           <h5>Mandatory</h5>
         </li>
         <li class="col-sm-12 col-md-6 li-wrapper">
           <p>Reson for rejection</p>
           <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           </h5>
           <h5>Vishnu K - <b>Solution architect</b>
           </h5>
         </li>
       </ul>

       <!--Practice 1 - VAS/ESS -->
       <div class = " submenu">
           <h3>Practice 1 - VAS/ESS</h3>
       </div>
       <ul class ="row testgin-practice">
        <li class="col-sm-12 col-md-3 li-wrapper">
       <p>Practice</p>
       <h5>VAS/ESS</h5>
     </li>
       <li class="col-sm-12 col-md-3 li-wrapper">
         <p>Assigned on</p>
         <h5>12-Jul-2018</h5>
       </li>
       <li class="col-sm-12 col-md-6 li-wrapper">
         <p>Status</p>
         <h5>Review by Solution Architect</h5>
       </li>

         <li class="col-sm-12 col-md-3 li-wrapper">
           <p>Deal estimator</p>
           <h5>Faaiz K Rissad</h5>
         </li>
         <li class="col-sm-12 col-md-3 li-wrapper">
           <p>Solution architect</p>
           <h5>Vishnu K</h5>
         </li>
       </ul>
       <button mat-raised-button class = "save-buttton" (click) = "redirect()">CONTINUE ESTIMATION</button>
     </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

