
.deal-infotesting-container{
  max-width: 1200px;
  margin:0 auto;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  background:#ffffff;
  height: auto;
  margin-top: 20px;

}

.deal-infotesting-container .deal-information-details{
 background:#e9f9ff;
}

.deal-infotesting-container .submenu h3{
  font-family: 'AkkuratStd-bold';
  color: black;
  font-size: 16px;
 }

.deal-infotesting-container ul{
  padding-left:20px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.deal-infotesting-container h3{
  margin-left: 15px;
  padding-top: 15px;
  color: #00a2e0;
}
.deal-infotesting-container ul .li-wrapper{
  list-style-type: none;
  padding:10px;
  display: block;
  
}
.deal-infotesting-container ul .li-wrapper p{
  margin-bottom: 0px;
  //font-size: 11px;
  color:#808080d6;
  padding-bottom: 10px;
}
//.deal-infotesting-container ul .li-wrapper h4{
////  font-size: 14px;
////
////
////}


// Accordian testing progress content

.testin-progress-container ul{
  padding-left:20px;
  padding-bottom: 15px;
}

.testin-progress-container .testgin-progress-steps{
  background:#e9f9ff;
}
.testin-progress-container:after{
  content:"";
  display: block;
  clear:both;
}
.testin-progress-container ul .li-wrapper {
  list-style-type:none;

}
.testin-progress-container ul .li-wrapper ul{
  padding-left: 0px;
}
.testin-progress-container ul .li-wrapper ul li{
  padding:2px;
}
.testin-progress-container .li-wrapper ul li{
  list-style-type:none;
  display:block;
}
.testin-progress-container .li-wrapper ul li .example-header-image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.add-dot .active{
  background: #00a2e0;
  color: white;
}
 .add-dot .not-active{
  background: #ffffff;
   border:1px solid #e2dfde;
}
.testgin-progress-steps .disabled{
 color:#e2dfde;
}
.testin-progress-container .li-wrapper ul li .example-header-image span{

  font-size: 15px;
  padding-left: 8px;
  position:absolute;
  top:15px;
}
.save-buttton{
  background: #00a2e0;
  color:white;
  margin-top: 10px;
  margin-left:30px;
  padding-left:20px;
  padding-right:20px;
  float: right;
}
.deal-infotesting-container .select-box-control select{
  width:75%;
  border:0px;
  border-bottom: 1px solid #e2dfde;
  border-radius:0px;
  display:inline;

}
.deal-infotesting-container  .testgin-progress-details{
  border-bottom: 1px solid #e2dfde;
}
//.deal-infotesting-container .testgin-practice h5{
//  font-size: 14px;
//}
.testgin-progress-steps .testing-proress-step-title{
  font-family: 'AkkuratStd-bold';
  font-size: 12px;
}
.testgin-progress-steps .testing-proress-step-value{
  font-size: 10px;
  color: #808080d6;
}
.width-set .add-dot:before{
  content: ".............................";
  position: absolute;
  left: 49px;
  top: 10px;

}
.testgin-progress-steps li:last-child .add-dot:before{
  content: "";
}
.collapse-all{
  float: right;
  margin-bottom: 5px;
  margin-right: 20px;
  font-family: AkkuratStd-Regular;
  font-size:15px;
}
.deal-infotesting-container .select-box-control a{
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 21px;
  text-decoration: underline;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .width-set {
    max-width: 14.1% !important;
    width: 14.1% !important;
    flex: 0 0 14.1%;
  }
}