  <!--Main header-->

<header class = "header-wrapper-container">
  <div class = "logo-title-container">
    <div class = "logo-wrapper">
      <h4>mW</h4>
    </div>
      <div class = "logo-title">
     <div class = "logo-circle"></div>
     <h3>estimation center of excelence</h3>
    </div>
  </div>

  <div class = "header-nav-menuicons">
   <ul>
     <li class = "virtualtour-button">VIRTUAL TOUR</li>
     <li class ="icon-badge-li"><span class="icon-notification"><span class="badge">02</span></span></li>
     <li class = "change-role">
       <span class="icon-user_id"></span>
        <select>
          <option value="Change Role">Change Role</option>
          <option value="Change Role">Change Role 1</option>
          <option value="Change Role">Change Role 2</option>
        </select>
     </li>
     <li class = "icon-logout-li"><span class="icon-logout"></span></li>
   </ul>
  </div>
</header>

 <!-- Sub Header-->

<div class = "sub-header-container">
  <ul class = "sub-header-details">
    <li><span class="icon-back_arrow"></span></li>
    <li class = "icon-arrow-left"><span class="sub-header-text disabled">My Estimations</span></li>
    <li class = "icon-arrow" ><span class="icon-arrow_drop_right"></span></li>
    <li class = "icon-arrow-right"><span class="sub-header-text">OPP 17422112</span></li>
  </ul>
</div>

  <!--Section Container-->


  <!--<app-estimation-flow *ngIf="navigation()"></app-estimation-flow>-->
  <!--<app-deal-information></app-deal-information>-->
  <!--<app-deal-parameters></app-deal-parameters>-->
  <!--<app-testing-requirments></app-testing-requirments>-->
  <!--<app-accordian-table></app-accordian-table>-->
  <!--<app-deal-infotesting></app-deal-infotesting>-->

  <router-outlet ></router-outlet>
