
.testing-requirement-container{
  max-width: 1200px;
  margin:0 auto;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  background:#ffffff;
  height: auto;
  margin-top: 20px;
}
.testing-requirement-container:after{
  display: block;
  clear:both;
  content:"";
}
.testing-requirement-container h3{
  margin-left: 30px;
  padding-top: 15px;
  color: #00a2e0;
}
.testing-requirement-container .button-wrapper button{
  background: #00a2e0;
  color:white;
  margin-top: 10px;
  margin-left:30px;
  padding-left:20px;
  padding-right:20px;
}
.testing-requirement-container .button-wrapper .save-buttton{
  margin-left: 25px;

}
.testing-requirement-container .select-box-control input{
  margin-left: 15px;
  width:100%;
  border:0px;
  border-bottom: 1px solid #e2dfde;
  border-radius:0px;
  padding-left: 0px;
  font-size:12px;
}
.testing-requirement-container .select-box-control .file-type {
  opacity: 0;
  z-index: 1;
  position: absolute;
}
.testing-requirement-container .select-box-control .icon-doc_upload {
  position: absolute;
  top: 50px;
  right: 0px;
}
.testing-requirement-container .select-box-control .icon-file_name{
  float: right;
  margin-top: 4px;
}
.testing-requirement-container .select-box-control label{
  font-family: 'AkkuratStd-Regular';
  font-size:13px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-top: 15px;
}
.testing-requirement-container .select-box-control{
  margin-left:20px;
  position: relative;
}
.testing-requirement-container .select-box-control .file-name{
  margin-left: 15px;
  border: 1px solid #00a2e0;
  width: 40%;
  padding: 6px 10px;
  font-family: akkuratStd-Bold;
  font-size: 14px;
}
.testing-requirement-container .select-box-control .download-button{
 float:right;
  color:#00a2e0;
  margin-top: 15px;
}
.testing-requirement-container .select-box-control p{
  margin-left: 15px;
  font-family: 'AkkuratStd-Regular';
  font-size:11px;
  color: #808080d6;
}
.testing-requirement-container .button-wrapper{
  float: right;
  margin-bottom: 10px;
  margin-right: 25px;
}
.testing-requirement-container .deal-infosub-header{
  border-bottom:2px solid #00a2e0;
  margin: 15px;
  font-weight: bold;
  padding-bottom: 10px;

}
.testing-requirement-container .table-container{
  margin-top:50px;
  font-family: 'AkkuratStd-Regular';
}
.testing-requirement-container .table-container .border-none{
  border-left:none;
  border-top: none;
  background:#cdf0fd;
}
.testing-requirement-container .table-container .table-title th{
  border-left: none;
  background:#cdf0fd;
}
.testing-requirement-container .table-container .table-title .table-title-first{
  background:#cdf0fd;
  border-bottom: none;
}
.testing-requirement-container .table-container .table-sub-heading{
  background:#6dc24b;
}

.testing-requirement-container .table-container .medium{
  background: #94ef70;
}
.testing-requirement-container .table-container .low{
  background: #b0e899;
}
.testing-requirement-container .table-container .complex-cell{
  background: #effbd7;
  text-align:right;
}

.testing-requirement-container .table-container tr th{
  font-size: 13px;
  font-weight: 500;
}
.testing-requirement-container .table-container tr .icon-cell{
  text-align: center;
}
.testing-requirement-container  .table-container tr input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.testing-requirement-container .table-container .complex-cell input{
  background: #effbd7;
}
.testing-requirement-container  .table-container tr .delet-edit{
  padding-top: 22px;
}
.testing-requirement-container  .table-container tr select{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 8px;
}
.testing-requirement-container .table-container tr .icon-cell .icon-delete{
  padding-left:40px;
}

.testing-requirement-container .table-container tr .icon-cell{
  color:#aba6a6;
  font-size:16px;
}
.testing-requirement-container .resetsave{
  background:#ffffff !important;
  color:#00a2e0 !important;
}
.deal-info-header {
  border-bottom:1px solid #e2dfde;;
}
.icon-star_filled{
  position: absolute;
  left: 22px;
  top: 48px;
  font-size: 7px;
  color: red
}
.icon-info-th {
  text-align:center ;
}
.persentage-leftalign{
  text-align:right;
}


