
<p class = "projet-heding-inbetween projet-heding-inbetween-left">0PP11708832</p>
<div class="example-card deal-info-container">
  <div class = "deal-info-header">
  <h3 class = "mian-title">Deal Information</h3>
  </div>
  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Delivery unit</p>
      <h4>Manufacturing</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Vertical</p>
      <h4>SEM computing storage & PEF</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Account</p>
      <h4>NCR Corporation</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Opportunity Name</p>
      <h4>Project Quantum</h4>
    </li>
  </ul>

  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Total Contract Value</p>
      <h4>AUD 70000</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Opportunity owner</p>
      <h4>Jayashankar</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Competitors</p>
      <h4>NA</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Partners/Vendors</p>
      <h4>NA</h4>
    </li>
  </ul>
  <ul class="row ">
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Proposal submission date</p>
      <h4>7-Jul-2018</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Stage probability</p>
      <h4>NA</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p>Estimation Lifecycle phase</p>
      <h4>RPF</h4>
    </li>
    <li class="col-sm-12 col-md-3 li-wrapper">
      <p><span class="icon-star_filled"></span>Deal tendure(No of months)</p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type = "number" value="01">
        </mat-form-field>
        <p style = "color:red;">Plese fill tendure to proceed furthure</p>
      </form>
      <button mat-raised-button class = "cancel-buttton" >Cancel</button>
      <button mat-raised-button class = "save-buttton" routerLink="/estmationflow/dealparameters">Save & Next</button>
    </li>
  </ul>

</div>
